* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    height: 100vh;
    background: #5DBCC7;
    background: linear-gradient(90deg,rgba(93, 188, 199, 1) 0%, rgba(47, 152, 163, 1) 50%, rgba(0, 116, 127, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #46AAB5;
    padding: 30px;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.login-container h2 {
    color: white;
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background-color: #2F98A3;
    color: white;
    font-size: 14px;
}

.login-container input::placeholder {
    color: #e0f7f9;
}

.login-container input:focus {
    outline: none;
    background-color: #178691;
}

.login-container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #178691;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #00747F;
}

.login-container .extra {
    margin-top: 15px;
    font-size: 13px;
    color: #e0f7f9;
    cursor: pointer;
}